.question-content{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.answer-content{
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .faq-content {
        width: 100%;
        padding: 15px;
    }

    .faq-title {
        font-size: 24px;
    }

    .content-card {
        padding: 15px;
    }

    .question-content {
        font-size: 16px;
    }

    .answer-content {
        font-size: 14px;
    }
}

